/* You can add global styles to this file, and also import other style files */

body {
    background-color: #a7dffc;
    color: white;
}

html, body, app-root {
    height: 100vh;
}

button {
    border: none !important;
    color: white;
}